{% extends 'network/index.html' %}
{% load static %}


{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title"> Vos Noms de domaine </h4>
            <p class="card-description">
              Liste de tous les nom de domaine
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Adresse IP</th>       
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for domain_name in domain_names %}
                  
                        <tr>
                            <td style="text-align:center"><a href="{% url 'base:detail-domain_name' domain_name.pk %}" >{{ domain_name.name }} </a></td> 
                            
                            <td style="text-align:center">{{domain_name.description}}</td>
                            <td style="text-align:center"><a href="{% url 'base:detail-ip_address' domain_name.ip_address.pk %}" >{{domain_name.ip_address.ipv4}}</a></td>
                            
                            <td style="text-align:center">{{domain_name.updated|date:"DATETIME_FORMAT"}}</td>
                            <td style="text-align:center">{{domain_name.created|date:"DATETIME_FORMAT"}}</td>                    
                        </tr>
                   
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  {% endblock %}