{% extends 'network/index.html' %}
{% load static %}


{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title"> Vos Adresses Ip</h4>
            <p class="card-description">
              Liste de tous les Adresse Ip
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Interface Réseaux</th>
                    <th>Adresse Ipv4</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for ip_adress in ip_adresses %}
                  
                        <tr>
                            <td style="text-align:center"><a href="{% url 'base:detail-ip_adress' ip_adress.pk %}" >{{ ip_adress.name }} </a></td> 
                            
                            <td style="text-align:center">{{ip_adress.description}}</td>
                            <td style="text-align:center"><a href="{% url 'base:detail-network_interface' ip_adress.interface.pk %}" >{{ip_adress.interface}}</a></td>
                            <td style="text-align:center">{{ip_adress.ipv4}}</td>
                            <td style="text-align:center">{{ip_adress.updated|date:"DATETIME_FORMAT"}}</td>
                            <td style="text-align:center">{{ip_adress.created|date:"DATETIME_FORMAT"}}</td>                    
                        </tr>
                   
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  {% endblock %}