{% extends 'accounts/index.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{group.name}}</h4>
            <p class="card-description">
                Detail du group : {{group.name}}
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Nombre de membre</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  
                  <tr>
                    <td><a href="{% url 'accounts:edit-groups' group.pk %}" >{{ group.name }} </a></td> 
                    <td>{{group.user_set.count}}</td>
                    <td>{{group.updated|date:"DATETIME_FORMAT"}}</td>
                    <td>{{group.created|date:"DATETIME_FORMAT"}}</td>
                    
                  </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title"> Les Permissions</h4>
            <p class="card-description">
              Liste de toute les permissions
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Nom de code</th>
                    <th>Model</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for permission in permissions %}
                  
                        <tr>
                            <td><a href="" >{{ permission.name }} </a></td>
                            <td>{{permission.codename}}</td>
                            <td>{{permission.content_type.model}}</td>
                            <td>{{permission.updated|date:"DATETIME_FORMAT"}}</td>
                            <td>{{permission.created|date:"DATETIME_FORMAT"}}</td>                    
                        </tr>
                   
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title"> Les Utilisateurs</h4>
            <p class="card-description">
              Liste de toute les utilsateurs
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Prenoms</th>
                    <th>Email</th>
                    <th>Nom utilisateur</th>
                    <th>Contact</th>
                    <th>Departement</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for user in group.user_set.all.distinct %}
                  
                        <tr>
                            <td><a href="{% url 'accounts:edit-groups' group.pk %}" >{{ user.first_name }} </a></td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.contact }}</td>
                            <td>{{ user.departement }}</td>
                            <td>{{ user.last_password_change }}</td>
                            <td>{{ user.date_joined }}</td>                    
                        </tr>
                   
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Historique </h4>
            <p class="card-description">
              Historique des modifications portant sur le group : {{group.name}}
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Modifié le</th>
                    <th>Modifier par</th>
                    <th>Raison de la modifications</th>
                    <th>action effectué</th>
                    <th>Nom</th>
                    <th>Description</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                  {% for group_history in group.history.all.distinct %}
                  {% if group_history.get_history_type_display != "Created" %}
                  <tr>
                    <td>{{group_history.history_id}}</td>
                    <td>{{group_history.history_date}}</td>
                    <td>{{group_history.history_user}}</td>
                    <td>{{group_history.history_change_reason}}</td>
                    <td>{{group_history.get_history_type_display}}</td>
                    {% if group_history.prev_record.name != group_history.name %}
                        <td>valeur après modification : {{group_history.name}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{group_history.name}}</td>
                    {% endif %}
                    

                  </tr>
                  {%else%}
                  <tr>
                    <td>{{group_history.history_id}}</td>
                    <td>{{group_history.history_date}}</td>
                    <td>{{group_history.history_user}}</td>
                    <td>{{group_history.history_change_reason}}</td>
                    <td>{{group_history.get_history_type_display}}</td>
                    <td> valeur a la création : {{group_history.name}}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> 
 
    </div>
  </div>
  {% endblock %}