{% extends 'application/index.html' %}
{% load static %}


{% block content %}
<div class="content-wrapper">
    <div class="row">
      
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title"> Vos App types</h4>
            <p class="card-description">
              Liste de tous les type d'applications
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Nombre d'applications</th>
                    <th>description</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for apptype in apptypes %}
                  
                        <tr>
                            <td style="text-align:center"><a href="{% url 'base:detail-apptype' apptype.pk %}" >{{ apptype.name }} </a></td> 
                            
                            <td style="text-align:center">{{apptype.description}}</td>
                            <td style="text-align:center">{{apptype.updated|date:"DATETIME_FORMAT"}}</td>
                            <td style="text-align:center">{{apptype.created|date:"DATETIME_FORMAT"}}</td>                    
                        </tr>
                   
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
      {%if app_type.applications.all%}

      {%endif%}
    </div>
  </div>
  {% endblock %}