{% extends 'application/index.html' %}
{% load static %}

{%block form-search%}
<li class="nav-item">
  <form method="GET" class="search-form" action="{% url 'base:connexion_bd-list' %}">
    <i class="icon-search"></i>
    <input type="search" name ="q" class="form-control" placeholder="Search Here" title="Search here">
  </form>
</li>
{%endblock%}

{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title"> Vos Serveur connexions base de données</h4>
            <p class="card-description">
              Liste de toutes les connexions base de données
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    
                    <th>Nom</th>
              
                    <th>Database </th>
                    <th>Module applicatif</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for connexion_bd in connexion_bds %}
                  <tr>
                    <td><a href= "{% url 'base:detail-connexion_bd' connexion_bd.pk %}" > {{ connexion_bd}} </a></td> 
                      
                    <td><a href= "{% url 'base:detail-database' connexion_bd.database.pk %}" > {{ connexion_bd.database}}</a> </td> 
                    <td><a href= "{% url 'base:detail-module_applicatif' connexion_bd.module_applicatif.pk %}" > {{ connexion_bd.module_applicatif}}</a></td>   
                                       
                    <td>{{connexion_bd.updated|date:"DATETIME_FORMAT"}}</td>
                    <td>{{connexion_bd.created|date:"DATETIME_FORMAT"}}</td>                
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  {% endblock %}