{% extends 'application/index.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-9">
                <h4 class="card-title"> {{departement.name}}</h4>
                <p class="card-description">
                  Consulter les détails sur le département : {{departement.name}}
                </p>
              </div>
              <div class="col-lg-3">
                  <div class="dropdown">
                    <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuSizeButton3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Action
                    </button>
                    <div class="dropdown-menu show" aria-labelledby="dropdownMenuButton3">
                      <h6 class="dropdown-header">Choisir une action</h6>
                      <a class="dropdown-item" href="{% url 'base:update-departement' departement.pk %}">Modifier {{departement.name}}</a>
                      <div class="dropdown-divider"></div>
                      
                      <a class="dropdown-item" href="{% url 'base:delete-departement' departement.pk %}">Supprimer {{departement.name}}</a>
                      
                    </div>
                  
                </div>
               
              </div>
              
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  
                  <tr>
                    <td><a href="{% url 'base:update-departement' departement.pk %}" >{{ departement.name }} </a></td> 
                    <td>{{departement.description}}</td>

                    <td>{{departement.updated|date:"DATETIME_FORMAT"}}</td>
                    <td>{{departement.created|date:"DATETIME_FORMAT"}}</td>
                    
                  </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Historique </h4>
            <p class="card-description">
              Historique des modifications portant sur le département : {{departement.name}}
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Modifié le</th>
                    <th>Modifier par</th>
                    <th>Raison de la modifications</th>
                    <th>action effectué</th>
                    <th>Nom</th>
                    <th>Description</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                  {% for departement_history in departement.history.all.distinct %}
                  {% if departement_history.get_history_type_display != "Created" %}
                  <tr>
                    <td>{{departement_history.history_id}}</td>
                    <td>{{departement_history.history_date}}</td>
                    <td>{{departement_history.history_user}}</td>
                    <td>{{departement_history.history_change_reason}}</td>
                    <td>{{departement_history.get_history_type_display}}</td>
                    {% if departement_history.prev_record.name != departement_history.name %}
                        <td>valeur après modification : {{departement_history.name}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{departement_history.name}}</td>
                    {% endif %}
                    {% if departement_history.prev_record.description != departement_history.description %}
                        <td>valeur après modification : {{departement_history.description}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{departement_history.description}}</td>
                    {% endif %}

                  </tr>
                  {%else%}
                  <tr>
                    <td>{{departement_history.history_id}}</td>
                    <td>{{departement_history.history_date}}</td>
                    <td>{{departement_history.history_user}}</td>
                    <td>{{departement_history.history_change_reason}}</td>
                    <td>{{departement_history.get_history_type_display}}</td>
                    <td> valeur a la création : {{departement_history.name}}</td>
                    <td>valeur a la création: {{departement_history.description}}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> 
     

    </div>
  </div>
  {% endblock %}