{% extends 'application/index.html' %}
{% load static %}


{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title"> Vos Departements</h4>
            <p class="card-description">
              Liste de tous les départements
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>description</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for departement in departements %}
                  
                        <tr>
                            <td><a href="{% url 'base:detail-departement' departement.pk %}" >{{ departement.name }} </a></td> 
                            
                            <td>{{departement.description}}</td>
                            <td>{{departement.updated}}</td>
                            <td>{{departement.created}}</td>                    
                        </tr>
                   
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  {% endblock %}