{% extends 'integration/index.html' %}
{% load static %}


{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title"> Vos Api</h4>
            <p class="card-description">
              Liste de toutes les APi
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Module Applicatif</th>
                    <th>Description</th>
                    
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for api in apis %}
                  
                        <tr>
                            <td style="text-align:center"><a href="{% url 'base:detail-api' api.pk %}" >{{ api.name }} </a></td> 
                            <td style="text-align:center"><a href="{% url 'base:detail-process' api.module_applicatif.pk %}" >{{api.module_applicatif.name}}</a></td>

                            <td style="text-align:center">{{api.description}}</td>
                            <td style="text-align:center">{{api.updated|date:"DATETIME_FORMAT"}}</td>
                            <td style="text-align:center">{{api.created|date:"DATETIME_FORMAT"}}</td>                    
                        </tr>
                   
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  {% endblock %}