{% extends 'integration/index.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title"> {{sub_process}}</h4>
            <p class="card-description">
              Detail du :  {{sub_process}}
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Process</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  
                  
                        <tr>
                            <td><a href="{% url 'base:update-sub_process' sub_process.pk %}" >{{ sub_process.name }} </a></td> 
                            <td><a href="{% url 'base:detail-process' sub_process.process.pk %}" >{{sub_process.process.name}}</a></td>

                            <td>{{sub_process.description}}</td>
                            <td>{{sub_process.updated}}</td>
                            <td>{{sub_process.created}}</td>                    
                        </tr>
                   
               
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Historique </h4>
            <p class="card-description">
              Historique des modifications portant sur l'adresse ip' : {{sub_process.name}}
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Modifié le</th>
                    <th>Modifier par</th>
                    <th>Raison de la modifications</th>
                    <th>action effectué</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Process</th>
                   
                    
                    
                  </tr>
                </thead>
                <tbody>
                  {% for sub_process_history in sub_process.history.all %}
                  {% if sub_process_history.get_history_type_display != "Created" %}
                  <tr>
                    <td>{{sub_process_history.history_id}}</td>
                    <td>{{sub_process_history.history_date}}</td>
                    <td>{{sub_process_history.history_user}}</td>
                    <td>{{sub_process_history.history_change_reason}}</td>
                    <td>{{sub_process_history.get_history_type_display}}</td>
                    {% if sub_process_history.prev_record.name != sub_process_history.name %}
                        <td>valeur après modification : {{sub_process_history.name}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{sub_process_history.name}}</td>
                    {% endif %}
                    {% if sub_process_history.prev_record.description != sub_process_history.description %}
                        <td>valeur après modification : {{sub_process_history.description}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{sub_process_history.description}}</td>
                    {% endif %}
                    {% if sub_process_history.prev_record.process != sub_process_history.process %}
                    <td>valeur après modification : {{sub_process_history.process}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{sub_process_history.process}}</td>
                    {% endif %}


                  </tr>
                  {%else%}
                  <tr>
                    <td>{{sub_process_history.history_id}}</td>
                    <td>{{sub_process_history.history_date}}</td>
                    <td>{{sub_process_history.history_user}}</td>
                    <td>{{sub_process_history.history_change_reason}}</td>
                    <td>{{sub_process_history.get_history_type_display}}</td>
                    <td> valeur a la création : {{sub_process_history.name}}</td>
                    <td>valeur a la création: {{sub_process_history.description}}</td>
                    <td>valeur a la création: {{sub_process_history.process}}</td>

                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> 
      <div class="col-lg-10 grid-margin stretch-card  mx-auto">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Structure arborescente de l'objet : {{sub_process.name}}</h4>
            <p class="card-sub_process">
              Détails des composant de  : {{sub_process.name}}
            </p>
            <div class="table-responsive">
              <style>
                  body {
                      font-family: Arial, sans-serif;
                  }
                  
                  ul {
                      list-style-type: none;
                      padding-left: 20px;
                      margin-left: 20px;
                      margin-bottom: 5px;
                      padding-bottom: 10px;
                  }
                  
                  li {
                      margin-bottom: 5px;
                      margin-left: 7px;
                      padding-left: 10px;
                      padding-right: 5px;
                  }
                  
                  .expand-btn {
                      cursor: pointer;
                      padding: 3px;
                      border-radius: 3px;
                      margin-right: 5px; /* Ajout de la marge à droite pour séparer l'icône du texte */
                      display: inline-block; /* Affichage en ligne pour permettre le positionnement horizontal */
                  }
                  
                  .expand-btn:hover {
                      background-color: #f0f0f0;
                  }
                  
                  ul.hidden {
                      display: none;
                  }
              
                  .mdi {
                      font-size: 18px;
                      vertical-align: middle; /* Alignement vertical au centre */
                      margin-right: 5px; /* Ajout de la marge à droite pour séparer l'icône du texte */
                  }
                  
              </style>
            
            <div id="tree"></div>
            
            <script>
              var levelColors = ['#95b9c2c1', '#6390a34d', '#95b9c258', '#687f8c','#8d9498'];// Ajoutez autant de couleurs que nécessaire

              var levelTColors = [
                'rgba(255, 255, 150, 0.7)',  // Jaune clair
                'rgba(255, 255, 120, 0.7)',  // Jaune plus doux
                'rgba(255, 250, 150, 0.7)',  // Jaune pâle
                'rgba(255, 250, 120, 0.7)'   // Jaune très clair
              ];// Ajoutez autant de couleurs que nécessaire
        
              function traverseNestedDictionary(obj, parentElement, level = 0) {
                var ul = document.createElement('ul');
                parentElement.appendChild(ul);
            
                for (var key in obj) {
                    if (obj.hasOwnProperty(key)) {
                        var li = document.createElement('li');
                        ul.appendChild(li);
            
                        var span = document.createElement('span');
                        var h3 = document.createElement('h3');
        
                        span.textContent = key + ": ";
                        span.style.color = levelTColors[level % levelTColors.length];
                        span.style.fontSize = '20px'; 
                        span.style.fontWeight = 'bold';
                        li.appendChild(span);
            
                        // Appliquer la couleur de fond en fonction du niveau
                        li.style.backgroundColor = levelColors[level % levelColors.length];
                        li.style.borderRadius = '8px'; 
                        li.style.maginBottom = '5px';
                        li.style.paddingBottom = '5px';
                        //li.style.width = '500px';
                        // Si la valeur est un autre objet, appel récursif de la fonction pour ce sous-objet
                        if (typeof obj[key] === 'object' && obj[key] !== null) {
                            traverseNestedDictionary(obj[key], li, level + 1);
                            span.style.color = levelTColors[level % levelTColors.length];
        
                            // Ajout d'un gestionnaire d'événements pour montrer/cacher les enfants
                            span.addEventListener('click', function(e) {
                                e.stopPropagation();  // Empêche la propagation de l'événement aux parents
            
                                var ul = this.parentElement.querySelector('ul');
                                if (ul) {
                                    ul.classList.toggle('hidden');
            
                                    // Changer l'icône en fonction de l'état
                                    var icon = this.querySelector('.mdi');
                                    
                                    if (ul.classList.contains('hidden')) {
                                        icon.classList.remove('mdi-chevron-down');
                                        icon.classList.add('mdi-chevron-right');
                                    } else {
                                        icon.classList.remove('mdi-chevron-right');
                                        icon.classList.add('mdi-chevron-down');
                                    }
                                }
                            });
            
                            // Ajout d'une icône de chevron pour indiquer les éléments avec des enfants
                            var icon = document.createElement('i');
                            icon.className = 'mdi mdi-chevron-right';  // Icône par défaut
                            span.appendChild(icon);
            
                            if (Object.keys(obj[key]).length > 0) {
                                // L'élément a des enfants, utilisez une icône de chevron
                                icon.classList.add('has-children');
                            } else {
                                // L'élément n'a pas d'enfants, masquez l'icône
                                icon.style.display = 'none';
                            }
                        } else {
                            // Si la valeur n'est pas un objet, affichez-la directement
                            var leafSpan = document.createElement('span');
                            var small = document.createElement('small');
                            small.textContent = obj[key];
                            small.className = 'text-muted'; 
                            small.style.fontSize = '20px'; 
        
                            leafSpan.appendChild(small);
                            li.appendChild(leafSpan);
                        }
                    }
                }
              }
            
              var serializedData = {}
              var serializedData = {{serializer_data|safe}};
              // Utiliser la structure JavaScript dans la console log
              console.log(serializedData);
              var treeContainer = document.getElementById('tree');
              traverseNestedDictionary(serializedData, treeContainer, true);
              
            </script>
            </div>
          </div>
        </div>
      </div>       

    </div>
  </div>
  {% endblock %}