{% extends 'integration/index.html' %}
{% load static %}


{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title"> Vos Uses cases</h4>
            <p class="card-description">
              Liste de tous les Uses Cases
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Process</th>
                    <th>Description</th>
                    
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for use_case in use_cases %}
                  
                        <tr>
                            <td><a href="{% url 'base:detail-use_case' use_case.pk %}" >{{ use_case.name }} </a></td> 
                            <td><a href="{% url 'base:detail-process' use_case.sub_process.pk %}" >{{use_case.sub_process.name}}</a></td>

                            <td>{{use_case.description}}</td>
                            <td>{{use_case.updated|date:"DATETIME_FORMAT"}}</td>
                            <td>{{use_case.created|date:"DATETIME_FORMAT"}}</td>                    
                        </tr>
                   
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  {% endblock %}