{% extends 'channels/index.html' %}
{% load static %}


{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title"> Vos short code sms </h4>
            <p class="card-description">
              Liste de tout les short codes sms
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Url</th>
                    <th>Code</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for sms_short_code in page_obj %}
                  
                        <tr>
                            <td><a href="{% url 'base:detail-sms_short_code' sms_short_code.pk %}" > {{ sms_short_code.name }} </a></td> 
                            <td>{{sms_short_code.description}}</td>
                            <td><a href="{% url 'base:detail-smpp_account' sms_short_code.smpp_account.pk %}" >{{sms_short_code.smpp_account}}</a></td>
                            <td>{{sms_short_code.code}}</td>
                            <td>{{sms_short_code.updated|date:"DATETIME_FORMAT"}}</td>
                            <td>{{sms_short_code.created|date:"DATETIME_FORMAT"}}</td>                    
                        </tr>
                   
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
              </li>
              {% endif %}
              {% for num in page_obj.paginator.page_range %}
              <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              </li>
              {% endfor %}
              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>


    </div>
  </div>
  {% endblock %}