{% extends 'documentation/index.html' %}
{% load static %}


{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title"> Vos code ussd </h4>
            <p class="card-description">
              Liste de tout les codes ussd
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Url</th>
                    <th>Code</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for ussd_short_code in ussd_short_codes %}
                  
                        <tr>
                            <td><a href="{% url 'base:detail-ussd_short_code' ussd_short_code.pk %}" > {{ ussd_short_code.name }} </a></td> 
                            <td>{{ussd_short_code.description}}</td>
                            <td><a href="{% url 'base:detail-url' ussd_short_code.url.pk %}" >{{ussd_short_code.url}}</a></td>
                            <td>{{ussd_short_code.code}}</td>
                            <td>{{ussd_short_code.updated|date:"DATETIME_FORMAT"}}</td>
                            <td>{{ussd_short_code.created|date:"DATETIME_FORMAT"}}</td>                    
                        </tr>
                   
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  {% endblock %}