{% extends 'systeme/index.html' %}
{% load static %}
{%block form-search%}
<li class="nav-item">
  <form method="GET" class="search-form" action="{% url 'base:cluster-list' %}">
    <i class="icon-search"></i>
    <input type="search" name ="q" class="form-control" placeholder="Search Here" title="Search here">
  </form>
</li>
{%endblock%}

{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title"> Vos Clusters</h4>
            <p class="card-description">
              Liste de tous les Clusters
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Adresse ip</th>
                    <th>Nombre serveurs</th>
                    
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for cluster in clusters %}
                  
                        <tr>
                            <td><a href="{% url 'base:detail-cluster' cluster.pk %}" >{{ cluster.name }} </a></td> 
                            
                            <td><a href="{% url 'base:detail-ip_adress' cluster.ip_address.pk %}" >{{ cluster.ip_address.ipv4}} </a></td> 
                            <td>{{cluster.servers.all.distinct.count}}</td>
                            
                            <td>{{cluster.updated|date:"DATETIME_FORMAT"}}</td>
                            <td>{{cluster.created|date:"DATETIME_FORMAT"}}</td>                    
                        </tr>
                   
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  {% endblock %}