{% extends 'systeme/index.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">

            <div class="row">
              <div class="col-lg-9">
                <h4 class="card-title"> {{database.name}}</h4>
                <p class="card-description">
                  Consulter les détails sur le serveur : {{database.name}}
                </p>
              </div>
              <div class="col-lg-3">
                
                  <div class="dropdown">
                    <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuSizeButton3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Action
                    </button>
                    <div class="dropdown-menu show" aria-labelledby="dropdownMenuButton3">
                      <h6 class="dropdown-header">Choisir une action</h6>
                      <a class="dropdown-item" href="{% url 'base:update-database' database.pk %}">Modifier la base de données</a>
                      <div class="dropdown-divider"></div>
                      
                      <a class="dropdown-item" href="{% url 'base:delete-database' database.pk %}">Supprimer le serveur</a>
                      
                    </div>
                  
                </div>
               
              </div>
              
            </div>
        
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>serveur de base de donnée</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody> 
                  <tr>
                    <td><a href="{% url 'base:update-database' database.pk %}" >{{ database.name }} </a></td> 
                    <td><a href="{% url 'base:detail-database_server' database.db_server.pk %}" >{{ database.db_server}}</a></td>                    
                    <td>{{database.updated|date:"DATETIME_FORMAT"}}</td>
                    <td>{{database.created|date:"DATETIME_FORMAT"}}</td>                 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% if database.module_applicatifs.all.distinct %}
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Détails des modules applicatif</h4>
            <p class="card-description">
                Voir les modules applicatifs relié au  {{database.name}}
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Application</th>
                    <th>Vendor</th>
                    <th>Departement</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for module in database.module_applicatifs.all.distinct %}
                  <tr>
                    <td><a href= "{% url 'base:update-module_applicatif' module.pk %}"> {{ module.name }} </a></td> 
                    <td> {{ module.description }} </td>   
                    <td><a href= "{% url 'base:detail-application' module.application.pk %}"> {{ module.application}} </a></td> 
                    <td><a href= "{% url 'base:detail-vendor' module.vendor.pk %}">{{ module.vendor}} </a></td>   
                    <td><a href= "{% url 'base:detail-departement' module.departement.pk %}">{{ module.departement }} </a></td>                      
                    <td>{{module.updated|date:"DATETIME_FORMAT"}}</td>
                    <td>{{module.created|date:"DATETIME_FORMAT"}}</td>                
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if applications %}
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Détails des applications liées à la base de données</h4>
            <p class="card-description">
                Liste des applications connecté à  {{database.name}}
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Replication</th>
                    <th>Priorité d'exécution</th>
                    <th>control name</th>
                    <th>année de deployement</th>
                    <th>type d'application</th>
                    <th>Backup strategie</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for application in applications %}
                  <tr>
                    <td><a href= "{% url 'base:detail-application' application.pk %}" > {{ application.name }} </a></td> 
                    <td>{{application.description}}</td>
                    <td>{{application.replication}}</td>
                    <td>{{application.priority}}</td>
                    <td>{{application.control_name}}</td>
                    <td>{{application.deployement_year}}</td>
                    <td><a href= "{% url 'base:detail-apptype' application.app_type.pk %}">{{application.app_type}}</td>
                    <td><a href= "{% url 'base:backupstrategie-detail' application.backup_strategie.pk %}">{{application.backup_strategie}}</td>
                    <td>{{application.updated|date:"DATETIME_FORMAT"}}</td>
                    <td>{{application.created|date:"DATETIME_FORMAT"}}</td>                
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Historique </h4>
            <p class="card-description">
              Historique des modifications portant sur le database : {{database.name}}
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Modifié le</th>
                    <th>Modifier par</th>
                    <th>Raison de la modifications</th>
                    <th>action effectué</th>
                    <th>Nom</th>
                    <th>Type de serveur</th>
                    <th>Memoire Rom (tera)</th>
                    <th>Memoire Ram (gb)</th>
                    <th>Nombre de processeur </th>
                    <th>Vitesseur des processeur</th>

                    <th>Rack</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                  {% for database_history in database.history.all.distinct %}
                  {% if database_history.get_history_type_display != "Created" %}
                  <tr>
                    <td>{{database_history.history_id}}</td>
                    <td>{{database_history.history_date}}</td>
                    <td>{{database_history.history_user}}</td>
                    <td>{{database_history.history_change_reason}}</td>
                    <td>{{database_history.get_history_type_display}}</td>
                    {% if database_history.prev_record.name != database_history.name %}
                        <td>valeur après modification : {{database_history.name}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{database_history.name}}</td>
                    {% endif %}
                    {% if database_history.prev_record.type_database != database_history.type_database %}
                    <td>valeur après modification : {{database_history.type_database}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{database_history.type_database}}</td>
                    {% endif %}
                    {% if database_history.prev_record.ram != database_history.ram %}
                        <td>valeur après modification : {{database_history.ram}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{database_history.ram}}</td>
                    {% endif %}
                    {% if database_history.prev_record.rom != database_history.rom %}
                        <td>valeur après modification : {{database_history.rom}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{database_history.rom}}</td>
                    {% endif %}
                    {% if database_history.prev_record.nb_processor != database_history.nb_processor %}
                    <td>valeur après modification : {{database_history.nb_processor}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{database_history.nb_processor}}</td>
                    {% endif %}
                    {% if database_history.prev_record.v_processor != database_history.v_processor %}
                    <td>valeur après modification : {{database_history.v_processor}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{database_history.v_processor}}</td>
                    {% endif %}
                    
                   
                    {% if database_history.prev_record.rack != database_history.rack %}
                    <td>valeur après modification : {{database_history.rack}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{database_history.rack}}</td>
                    {% endif %}

                  </tr>
                  {%else%}
                  <tr>
                    <td>{{database_history.history_id}}</td>
                    <td>{{database_history.history_date}}</td>
                    <td>{{database_history.history_user}}</td>
                    <td>{{database_history.history_change_reason}}</td>
                    <td>{{database_history.get_history_type_display}}</td>
                    <td>Valeur à la création : {{ database.name }}</td> 
                    <td>Valeur à la création : {{database.type_database}}</td>
                    <td>Valeur à la création : {{database.ram}}</td>
                    <td>Valeur à la création : {{database.rom}}</td>
                    <td>Valeur à la création : {{database.nb_processor}}</td>
                    <td>Valeur à la création : {{database.v_processor}}</td>
                 
                    <td>Valeur à la création : {{database.rack}}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> 
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Structure arborescente de l'objet : {{server.name}}</h4>
            <p class="card-description">
              Détails des composant de  : {{server.name}}
            </p>
            <div class="table-responsive">
              <style>
                  body {
                      font-family: Arial, sans-serif;
                  }
                  
                  ul {
                      list-style-type: none;
                      padding-left: 20px;
                      margin-left: 20px;
                      margin-bottom: 5px;
                      padding-bottom: 10px;
                  }
                  
                  li {
                      margin-bottom: 5px;
                      margin-left: 7px;
                      padding-left: 10px;
                      padding-right: 5px;
                  }
                  
                  .expand-btn {
                      cursor: pointer;
                      padding: 3px;
                      border-radius: 3px;
                      margin-right: 5px; /* Ajout de la marge à droite pour séparer l'icône du texte */
                      display: inline-block; /* Affichage en ligne pour permettre le positionnement horizontal */
                  }
                  
                  .expand-btn:hover {
                      background-color: #f0f0f0;
                  }
                  
                  ul.hidden {
                      display: none;
                  }
              
                  .mdi {
                      font-size: 18px;
                      vertical-align: middle; /* Alignement vertical au centre */
                      margin-right: 5px; /* Ajout de la marge à droite pour séparer l'icône du texte */
                  }
                  
              </style>
            
            <div id="tree"></div>
            
            <script>
              var levelColors = ['#95b9c2c1', '#6390a34d', '#95b9c258', '#687f8c','#8d9498'];// Ajoutez autant de couleurs que nécessaire

              var levelTColors = [
                'rgba(255, 255, 150, 0.7)',  // Jaune clair
                'rgba(255, 255, 120, 0.7)',  // Jaune plus doux
                'rgba(255, 250, 150, 0.7)',  // Jaune pâle
                'rgba(255, 250, 120, 0.7)'   // Jaune très clair
              ];// Ajoutez autant de couleurs que nécessaire
        
              function traverseNestedDictionary(obj, parentElement, level = 0) {
                var ul = document.createElement('ul');
                parentElement.appendChild(ul);
            
                for (var key in obj) {
                    if (obj.hasOwnProperty(key)) {
                        var li = document.createElement('li');
                        ul.appendChild(li);
            
                        var span = document.createElement('span');
                        var h3 = document.createElement('h3');
        
                        span.textContent = key + ": ";
                        span.style.color = levelTColors[level % levelTColors.length];
                        span.style.fontSize = '20px'; 
                        span.style.fontWeight = 'bold';
                        li.appendChild(span);
            
                        // Appliquer la couleur de fond en fonction du niveau
                        li.style.backgroundColor = levelColors[level % levelColors.length];
                        li.style.borderRadius = '8px'; 
                        li.style.maginBottom = '5px';
                        li.style.paddingBottom = '5px';
                        //li.style.width = '500px';
                        // Si la valeur est un autre objet, appel récursif de la fonction pour ce sous-objet
                        if (typeof obj[key] === 'object' && obj[key] !== null) {
                            traverseNestedDictionary(obj[key], li, level + 1);
                            span.style.color = levelTColors[level % levelTColors.length];
        
                            // Ajout d'un gestionnaire d'événements pour montrer/cacher les enfants
                            span.addEventListener('click', function(e) {
                                e.stopPropagation();  // Empêche la propagation de l'événement aux parents
            
                                var ul = this.parentElement.querySelector('ul');
                                if (ul) {
                                    ul.classList.toggle('hidden');
            
                                    // Changer l'icône en fonction de l'état
                                    var icon = this.querySelector('.mdi');
                                    
                                    if (ul.classList.contains('hidden')) {
                                        icon.classList.remove('mdi-chevron-down');
                                        icon.classList.add('mdi-chevron-right');
                                    } else {
                                        icon.classList.remove('mdi-chevron-right');
                                        icon.classList.add('mdi-chevron-down');
                                    }
                                }
                            });
            
                            // Ajout d'une icône de chevron pour indiquer les éléments avec des enfants
                            var icon = document.createElement('i');
                            icon.className = 'mdi mdi-chevron-right';  // Icône par défaut
                            span.appendChild(icon);
            
                            if (Object.keys(obj[key]).length > 0) {
                                // L'élément a des enfants, utilisez une icône de chevron
                                icon.classList.add('has-children');
                            } else {
                                // L'élément n'a pas d'enfants, masquez l'icône
                                icon.style.display = 'none';
                            }
                        } else {
                            // Si la valeur n'est pas un objet, affichez-la directement
                            var leafSpan = document.createElement('span');
                            var small = document.createElement('small');
                            small.textContent = obj[key];
                            small.className = 'text-muted'; 
                            small.style.fontSize = '20px'; 
        
                            leafSpan.appendChild(small);
                            li.appendChild(leafSpan);
                        }
                    }
                }
              }
            
              var serializedData = {}
              var serializedData = {{serializer_data|safe}};
              // Utiliser la structure JavaScript dans la console log
              console.log(serializedData);
              var treeContainer = document.getElementById('tree');
              traverseNestedDictionary(serializedData, treeContainer, true);
              
            </script>
            </div>
          </div>
        </div>
      </div>       
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Structure arborescente de l'objet : {{datacenter.name}}</h4>
            <p class="card-description">
              Détails des composant de  : {{datacenter.name}}
            </p>
            <div class="table-responsive">
              <style>
            
                  .tree-line {
                    position: absolute;
                    left: 50px; /* Ajustez selon vos besoins */
                    top: 42px;
                    
                    width: 1px; /* Largeur de la ligne */
                    height: calc(100% - 49px); /* Hauteur de la ligne */
                    background-color:  #040404;
                     /* Couleur de la ligne */
                }
                  ul {
                      list-style-type: none;
                      padding-left: 20px; 
                      margin-left: 20px;
                      margin-bottom: 3px;
                      padding-bottom: 5px;
                  }
                  
                  li {
                      margin-bottom: 5px;
                      margin-left: 7px;
                      padding-left: 10px;
                      padding-right: 5px;
                  }
                  
                  .expand-btn {
                      cursor: pointer;
                      
                      padding: 3px;
                      border-radius: 3px;
                      margin-right: 5px; /* Ajout de la marge à droite pour séparer l'icône du texte */
                      display: inline-block; /* Affichage en ligne pour permettre le positionnement horizontal */
                  }
                  
                  .expand-btn:hover {
                      background-color: #f0f0f0;
                  }
                  
                  ul.hidden {
                      display: none;
                  }
              
                  .mdi {
                      font-size: 18px;
                      vertical-align: middle; /* Alignement vertical au centre */
                      margin-right: 5px; /* Ajout de la marge à droite pour séparer l'icône du texte */
                  }
                  
              </style>
            
              <div class="container">
                <div class="row">
                  <div class="col-md-11">
                    <div id="tree2"></div>
                  </div>
                </div>
              </div>
            
              <script>
                var levelColors = ['#95b9c2c1', '#6390a34d', '#95b9c258', '#687f8c','#8d9498'];// Ajoutez autant de couleurs que nécessaire
                var levelTColors = [
                  'rgba(255, 255, 150, 0.7)',  // Jaune clair
                  'rgba(255, 255, 120, 0.7)',  // Jaune plus doux
                  'rgba(255, 250, 150, 0.7)',  // Jaune pâle
                  'rgba(255, 250, 120, 0.7)'   // Jaune très clair
                ];// Ajoutez autant de couleurs que nécessaire
                
                function traverseNestedDictionary(obj, parentElement, level = 0) {
                  var ul = document.createElement('ul');
                  parentElement.appendChild(ul);
              
                  for (var key in obj) {
                      if (obj.hasOwnProperty(key)) {
                          var li = document.createElement('li');
                          ul.appendChild(li);
                          
                          var span = document.createElement('span');
                          var h3 = document.createElement('h5');
                          span.textContent = key + ": ";
                          //span.style.color = levelTColors[level % levelTColors.length];
                          span.style.fontSize = '13px'; 
                          span.style.fontWeight = 'bold';
                          li.appendChild(span);
                          span.style.borderRadius = '8px';
                          //li.style.backgroundColor ='#9a94a7'
                          //li.style.backgroundColor = levelColors[level % levelColors.length];
                          li.style.borderRadius = '8px'; 

                          li.style.position = 'relative'; // Ajout de la position relative pour positionner la ligne verticale
              
                          if (typeof obj[key] === 'object' && obj[key] !== null) {
                              var folderIcon = document.createElement('i');
                              folderIcon.className = 'mdi mdi-folder-outline';
                              span.insertBefore(folderIcon, span.firstChild);
              
                              var line = document.createElement('div'); // Création de l'élément de ligne verticale
                              line.className = 'tree-line';
                              li.appendChild(line); // Ajout de la ligne verticale
                              
                              traverseNestedDictionary(obj[key], li, level + 1);
              
                              var icon = document.createElement('i');
                              icon.className = 'mdi ted mdi-chevron-right';
                              span.appendChild(icon);
              
                              if (Object.keys(obj[key]).length > 0) {
                                  icon.classList.add('has-children');
                              } else {
                                  icon.style.display = 'none';
                              }
              
                              span.addEventListener('click', function(e) {
                                  e.stopPropagation();
              
                                  var ul = this.parentElement.querySelector('ul');
                                  if (ul) {
                                      ul.classList.toggle('hidden');
                                      line.style.display = ul.classList.contains('hidden') ? 'none' : 'block';
                                      var icon = this.querySelector('.ted');
                                      if (ul.classList.contains('hidden')) {
                                          icon.classList.remove('mdi-chevron-down');
                                          icon.classList.add('mdi-chevron-right');
                                      } else {
                                          icon.classList.remove('mdi-chevron-right');
                                          icon.classList.add('mdi-chevron-down');
                                      }
                                  }
                              });
              
                              span.addEventListener('mouseenter', function() {
                                  this.style.backgroundColor = '#f7df64';
                              });
              
                              span.addEventListener('mouseleave', function() {
                                  this.style.backgroundColor = levelColors[level % levelColors.length];
                              });
              
                              span.style.transition = 'background-color 0.3s ease-in-out';
              
                          } else {
                              var fileIcon = document.createElement('i');
                              fileIcon.className = 'mdi mdi-file-outline';
                              span.insertBefore(fileIcon, span.firstChild);
              
                              var leafSpan = document.createElement('span');
                              var small = document.createElement('small');
                              small.textContent = obj[key];
                              small.className = 'text-muted'; 
                              small.style.fontSize = '8px'; 
              
                              leafSpan.appendChild(small);
                              li.appendChild(leafSpan);
                          }
                      }
                  }
              }
              
              
              
              
              
              
                var serializedData = {{ serializer_data|safe }};
                var treeContainer = document.getElementById('tree2');
                traverseNestedDictionary(serializedData, treeContainer, true);
              </script>
              
            </div>
          </div>
        </div>
      </div>
      

    </div>
  </div>
  {% endblock %}