{% extends 'systeme/index.html' %}
{% load static %}
{%block form-search%}
<li class="nav-item">
  <form method="GET" class="search-form" action="{% url 'base:datacenter-list' %}">
    <i class="icon-search"></i>
    <input type="search" name ="q" class="form-control" placeholder="Search Here" title="Search here">
  </form>
</li>
{%endblock%}

{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title"> Vos Datacenters</h4>
            <p class="card-description">
              Liste de tous les datacenters
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Nombre de salle serveurs</th>
                    
                    <th>localisation</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for datacenter in datacenters %}
                  
                        <tr>
                            <td><a href="{% url 'base:detail-datacenter' datacenter.pk %}" >{{ datacenter.name }} </a></td> 
                            
                            <td>{{datacenter.servers_rooms.all.distinct.count}}</td>

                            <td>{{datacenter.localisation}}</td>
                            <td>{{datacenter.updated|date:"DATETIME_FORMAT"}}</td>
                            <td>{{datacenter.created|date:"DATETIME_FORMAT"}}</td>                    
                        </tr>
                   
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  {% endblock %}