{% extends 'systeme/index.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-11 grid-margin stretch-card ">
        <div class="card">
          <div class="card-body">
            <div class="row">

              <div class="col-lg-9">
                <h4 class="card-title"> {{rack.name}}</h4>
                <p class="card-description">
                  Consulter les détails sur le serveur : {{rack.name}}
                </p>
              </div>
              <div class="col-lg-3">
                
                  <div class="dropdown">
                    <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuSizeButton3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Action
                    </button>
                    <div class="dropdown-menu show" aria-labelledby="dropdownMenuButton3">
                      <h6 class="dropdown-header">Choisir une action</h6>
                      <a class="dropdown-item" href="{% url 'base:update-rack' rack.pk %}">Modifier le rack</a>
                      <div class="dropdown-divider"></div>
                      
                      <a class="dropdown-item" href="{% url 'base:delete-rack' rack.pk %}">Supprimer le rack</a>
                      
                    </div>
                  
                </div>
               
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Salle Serveur</th>
                    <th>Nombre de Serveurs</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  
                  <tr>
                    <td><a href="{% url 'base:update-rack' rack.pk %}" >{{ rack.name }} </a></td> 
                    <td><a href="{% url 'base:detail-server_room' rack.server_room.pk %}" >{{rack.server_room}}</a></td>
                    <td> {{rack.servers.all.distinct.count}} </td>
                    <td>{{rack.updated|date:"DATETIME_FORMAT"}}</td>
                    <td>{{rack.created|date:"DATETIME_FORMAT"}}</td>
                    
                  </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {%if rack.servers.all.distinct%}
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">

            <h4 class="card-title"> Serveurs du rack : {{rack.name}}</h4>
            <p class="card-description">
                Liste des serveurs situé sur le rack : {{rack.name}}
            </p>
        
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Type de serveur</th>
                    <th>Memoire Rom (tera)</th>
                    <th>Memoire Ram (gb)</th>
                    <th>Nombre de processeur </th>
                    <th>Vitesseur des processeur</th>
           
                    <th>Rack</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {%for server in rack.servers.all.distinct%}
                  <tr>
                    <td><a href="{% url 'base:detail-server' server.pk %}" >{{ server }} </a></td> 
                    <td>{{server.type_server}}</td>
                    <td>{{server.ram}}</td>
                    <td>{{server.rom}}</td>
                    <td>{{server.nb_processor}}</td>
                    <td>{{server.v_processor}}</td>
 
                    <td><a href="{% url 'base:update-rack' server.rack.pk %}" >{{server.rack}}</td>
                    <td>{{server.updated|date:"DATETIME_FORMAT"}}</td>
                    <td>{{server.created|date:"DATETIME_FORMAT"}}</td>
                    
                  </tr>
                  {%endfor%}
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
      {%endif%}
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Historique </h4>
            <p class="card-description">
              Historique des modifications portant sur le rack : {{rack.name}}
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Modifié le</th>
                    <th>Modifier par</th>
                    <th>Raison de la modifications</th>
                    <th>action effectué</th>
                    <th>Nom</th>
                    <th>Salle Serveur</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                  {% for rack_history in rack.history.all.distinct %}
                  {% if rack_history.get_history_type_display != "Created" %}
                  <tr>
                    <td>{{rack_history.history_id}}</td>
                    <td>{{rack_history.history_date}}</td>
                    <td>{{rack_history.history_user}}</td>
                    <td>{{rack_history.history_change_reason}}</td>
                    <td>{{rack_history.get_history_type_display}}</td>
                    {% if rack_history.prev_record.name != rack_history.name %}
                        <td>valeur après modification : {{rack_history.name}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{rack_history.name}}</td>
                    {% endif %}
                    {% if rack_history.prev_record.server_room != rack_history.server_room %}
                        <td>valeur après modification : {{rack_history.server_room}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{rack_history.server_room}}</td>
                    {% endif %}

                  </tr>
                  {%else%}
                  <tr>
                    <td>{{rack_history.history_id}}</td>
                    <td>{{rack_history.history_date}}</td>
                    <td>{{rack_history.history_user}}</td>
                    <td>{{rack_history.history_change_reason}}</td>
                    <td>{{rack_history.get_history_type_display}}</td>
                    <td> valeur a la création : {{rack_history.name}}</td>
                    <td>valeur a la création: {{rack_history.server_room}}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> 
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Structure arborescente de l'objet : {{datacenter.name}}</h4>
            <p class="card-description">
              Détails des composant de  : {{datacenter.name}}
            </p>
          <div class="table-responsive">
              <style>
.tree-line {
    position: absolute;
    left: 50px;
    top: 22px;
    width: 1px;
    height: calc(100% - 32px);
    background-color: #040404;
}
                  ul {
                      list-style-type: none;
                      padding-left: 20px; 
                      margin-left: 20px;
                      margin-bottom: 3px;
                      padding-bottom: 5px;
                  }
                  
                  li {
                      margin-bottom: 5px;
                      margin-left: 7px;
                      padding-left: 10px;
                      padding-right: 5px;
                  }
                  
                  .expand-btn {
                      cursor: pointer;
                      
                      padding: 3px;
                      border-radius: 3px;
                      margin-right: 5px; /* Ajout de la marge à droite pour séparer l'icône du texte */
                      display: inline-block; /* Affichage en ligne pour permettre le positionnement horizontal */
                  }
                  
                  .expand-btn:hover {
                      background-color: #f0f0f0;
                  }
                  
                  ul.hidden {
                      display: none;
                  }
              
                  .mdi {
                      font-size: 18px;
                      vertical-align: middle; /* Alignement vertical au centre */
                      margin-right: 5px; /* Ajout de la marge à droite pour séparer l'icône du texte */
                  }
                  
              </style>
            
              <div class="container">
                <div class="row">
                  <div class="col-md-11">
                    <div id="tree2"></div>
                  </div>
                </div>
              </div>
            
            <script>
                var levelColors = ['#95b9c2c1', '#6390a34d', '#95b9c258', '#687f8c','#8d9498'];// Ajoutez autant de couleurs que nécessaire
                var levelTColors = [
                  'rgba(255, 255, 150, 0.7)',  // Jaune clair
                  'rgba(255, 255, 120, 0.7)',  // Jaune plus doux
                  'rgba(255, 250, 150, 0.7)',  // Jaune pâle
                  'rgba(255, 250, 120, 0.7)'   // Jaune très clair
                ];// Ajoutez autant de couleurs que nécessaire
                
                function traverseNestedDictionary(obj, parentElement, level = 0) {
                  var ul = document.createElement('ul');
                  parentElement.appendChild(ul);
              
                  for (var key in obj) {
                      if (obj.hasOwnProperty(key)) {
                          var li = document.createElement('li');
                          ul.appendChild(li);
                          
                          var span = document.createElement('span');
                          var h3 = document.createElement('h5');
                          span.textContent = key + ": ";
                          //span.style.color = levelTColors[level % levelTColors.length];
                          span.style.fontSize = '13px'; 
                          span.style.fontWeight = 'bold';
                          li.appendChild(span);
                          span.style.borderRadius = '8px';
                          //li.style.backgroundColor ='#9a94a7'
                          //li.style.backgroundColor = levelColors[level % levelColors.length];
                          li.style.borderRadius = '8px'; 

                          li.style.position = 'relative'; // Ajout de la position relative pour positionner la ligne verticale
              
                          if (typeof obj[key] === 'object' && obj[key] !== null) {
                              var folderIcon = document.createElement('i');
                              folderIcon.className = 'mdi mdi-folder-outline';
                              span.insertBefore(folderIcon, span.firstChild);
              
                              var line = document.createElement('div'); // Création de l'élément de ligne verticale
                              line.className = 'tree-line';
                              li.appendChild(line); // Ajout de la ligne verticale
                              
                              traverseNestedDictionary(obj[key], li, level + 1);
              
                              var icon = document.createElement('i');
                              icon.className = 'mdi ted mdi-chevron-right';
                              span.appendChild(icon);
              
                              if (Object.keys(obj[key]).length > 0) {
                                  icon.classList.add('has-children');
                              } else {
                                  icon.style.display = 'none';
                              }
              
                              span.addEventListener('click', function(e) {
                                  e.stopPropagation();
              
                                  var ul = this.parentElement.querySelector('ul');
                                  if (ul) {
                                      ul.classList.toggle('hidden');
                                      line.style.display = ul.classList.contains('hidden') ? 'none' : 'block';
                                      var icon = this.querySelector('.ted');
                                      if (ul.classList.contains('hidden')) {
                                          icon.classList.remove('mdi-chevron-down');
                                          icon.classList.add('mdi-chevron-right');
                                      } else {
                                          icon.classList.remove('mdi-chevron-right');
                                          icon.classList.add('mdi-chevron-down');
                                      }
                                  }
                              });
              
                              span.addEventListener('mouseenter', function() {
                                  this.style.backgroundColor = '#FFCB05';
                              });
              
                              span.addEventListener('mouseleave', function() {
                                  this.style.backgroundColor = levelColors[level % levelColors.length];
                              });
              
                              span.style.transition = 'background-color 0.3s ease-in-out';
              
                          } else {
                              var fileIcon = document.createElement('i');
                              fileIcon.className = 'mdi mdi-file-outline';
                              span.insertBefore(fileIcon, span.firstChild);
              
                              var leafSpan = document.createElement('span');
                              var small = document.createElement('small');
                              small.textContent = obj[key];
                              small.className = 'text-muted'; 
                              small.style.fontSize = '12px'; 
              
                              leafSpan.appendChild(small);
                              li.appendChild(leafSpan);
                          }
                      }
                  }
              }
              
              
              
              
              
              
                var serializedData = {{ serializer_data|safe }};
                var treeContainer = document.getElementById('tree2');
                traverseNestedDictionary(serializedData, treeContainer, true);
            </script>
              
          </div>
          </div>
        </div>
      </div>     

    </div>
  </div>
  {% endblock %}