{% extends 'systeme/index.html' %}
{% load static %}

{%block form-search%}
<li class="nav-item">
  <form method="GET" class="search-form" action="{% url 'base:server_room-list' %}">
    <i class="icon-search"></i>
    <input type="search" name ="q" class="form-control" placeholder="Search Here" title="Search here">
  </form>
</li>
{%endblock%}
{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title"> Vos salles serveurs</h4>
            <p class="card-description">
              Liste de toutes les salles serveurs
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Nombre de racks</th>
                    <th>Datacenter</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for server_room in server_rooms %}
                  
                        <tr>
                            <td><a href="{% url 'base:detail-server_room' server_room.pk %}">{{ server_room.name }} </a></td> 
                            <td>{{server_room.racks.all.distinct.count}}</td>
                            <td><a href="{% url 'base:detail-datacenter' server_room.datacenter.pk %}">{{server_room.datacenter}}</a></td>
                            <td>{{server_room.updated|date:"DATETIME_FORMAT"}}</td>
                            <td>{{server_room.created|date:"DATETIME_FORMAT"}}</td>                    
                        </tr>
                   
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  {% endblock %}