{% extends 'systeme/index.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <div class="row">

      <div class="col-md-9 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %} un serveur</h4>
            <p class="card-description">
              Veuillez saisir les informations relatives au serveur
            </p>
            <form  method="post" class="forms-sample" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">{{ form.name.label }}</label>
                <div class="col-sm-9">
                    {{ form.name }}
                    {{ form.name.error}}
                </div>
              
              </div>
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">{{ form.type_server.label }}</label>
                <div class="col-sm-9">
                    {{ form.type_server }}
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">{{ form.ram.label }}</label>
                <div class="col-sm-9">
                    {{ form.ram }}
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">{{ form.rom.label }}</label>
                <div class="col-sm-9">
                    {{ form.rom }}
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">{{ form.nb_processor.label }}</label>
                <div class="col-sm-9">
                    {{ form.nb_processor }}
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">{{ form.v_processor.label }}</label>
                <div class="col-sm-9">
                    {{ form.v_processor }}
                </div>
              </div>

              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">{{ form.rack.label }}</label>
                <div class="col-sm-9">
                    {{ form.rack }}
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">{{ form.sys_stockage.label }}</label>
                <div class="col-sm-9">
                    {{ form.sys_stockage}}
                </div>
              </div>
              {% if form.instance.pk %}
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">{{ form.historical_change_reason.label }}</label>
                <div class="col-sm-9">
                    {{ form.historical_change_reason }}
                </div>
              </div>
              {% endif %}
              <button type="submit" name="submit" class="btn btn-primary me-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}