{% extends 'systeme/index.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{server.name}}</h4>
            <p class="card-datacenter">
                Detail de la systeme de stockage: {{server.name}}
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Type de serveur</th>
                    <th>Memoire Rom (tera)</th>
                    <th>Memoire Ram (gb)</th>
                    <th>Nombre de processeur </th>
                    <th>Vitesseur des processeur</th>
           
                    <th>Rack</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  
                  <tr>
                    <td><a href="{% url 'base:update-server' server.pk %}" >{{ server.name }} </a></td> 
                    <td>{{server.type_server}}</td>
                    <td>{{server.ram}}</td>
                    <td>{{server.rom}}</td>
                    <td>{{server.nb_processor}}</td>
                    <td>{{server.v_processor}}</td>
 
                    <td><a href="{% url 'base:update-rack' server.rack.pk %}" >{{server.rack}}</td>
                    <td>{{server.updated}}</td>
                    <td>{{server.created}}</td>
                    
                  </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% if partitions %}
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Détails des partitions</h4>
            <p class="card-datacenter">
                Voir les partitions relié au  {{server.name}}
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Ram</th>
                    <th>Rom</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for partition in partitions.all %}
                  <tr>
                    <td><a href= "{% url 'base:detail-systeme_stockage' partition.pk %}" > {{ partition.name }} </a></td> 
                    <td> {{ partition.ram }} </td>   
                    <td> {{ partition.rom}} </td>                 
                    <td>{{partition.updated}}</td>
                    <td>{{partition.created}}</td>                
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if clusters %}
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Détails des clusters</h4>
            <p class="card-datacenter">
                Liste des clusters auquels apparteient {{server.name}}
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Ram</th>
                    <th>Rom</th>
                    <th>modifié le</th>
                    <th>créer le</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for cluster in clusters.all %}
                  <tr>
                    <td><a href= "{% url 'base:detail-cluster' cluster.pk %}" > {{ cluster.name }} </a></td> 
                    
                
                    <td>{{cluster.updated}}</td>
                    <td>{{cluster.created}}</td>                
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Historique </h4>
            <p class="card-datacenter">
              Historique des modifications portant sur le server : {{server.name}}
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Modifié le</th>
                    <th>Modifier par</th>
                    <th>Raison de la modifications</th>
                    <th>action effectué</th>
                    <th>Nom</th>
                    <th>Type de serveur</th>
                    <th>Memoire Rom (tera)</th>
                    <th>Memoire Ram (gb)</th>
                    <th>Nombre de processeur </th>
                    <th>Vitesseur des processeur</th>

                    <th>Rack</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                  {% for server_history in server.history.all %}
                  {% if server_history.get_history_type_display != "Created" %}
                  <tr>
                    <td>{{server_history.history_id}}</td>
                    <td>{{server_history.history_date}}</td>
                    <td>{{server_history.history_user}}</td>
                    <td>{{server_history.history_change_reason}}</td>
                    <td>{{server_history.get_history_type_display}}</td>
                    {% if server_history.prev_record.name != server_history.name %}
                        <td>valeur après modification : {{server_history.name}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{server_history.name}}</td>
                    {% endif %}
                    {% if server_history.prev_record.type_server != server_history.type_server %}
                    <td>valeur après modification : {{server_history.type_server}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{server_history.type_server}}</td>
                    {% endif %}
                    {% if server_history.prev_record.ram != server_history.ram %}
                        <td>valeur après modification : {{server_history.ram}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{server_history.ram}}</td>
                    {% endif %}
                    {% if server_history.prev_record.rom != server_history.rom %}
                        <td>valeur après modification : {{server_history.rom}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{server_history.rom}}</td>
                    {% endif %}
                    {% if server_history.prev_record.nb_processor != server_history.nb_processor %}
                    <td>valeur après modification : {{server_history.nb_processor}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{server_history.nb_processor}}</td>
                    {% endif %}
                    {% if server_history.prev_record.v_processor != server_history.v_processor %}
                    <td>valeur après modification : {{server_history.v_processor}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{server_history.v_processor}}</td>
                    {% endif %}
                    
                   
                    {% if server_history.prev_record.rack != server_history.rack %}
                    <td>valeur après modification : {{server_history.rack}}</td>
                    {% else %}
                    <td> valeur inchangé :  {{server_history.rack}}</td>
                    {% endif %}

                  </tr>
                  {%else%}
                  <tr>
                    <td>{{server_history.history_id}}</td>
                    <td>{{server_history.history_date}}</td>
                    <td>{{server_history.history_user}}</td>
                    <td>{{server_history.history_change_reason}}</td>
                    <td>{{server_history.get_history_type_display}}</td>
                    <td>Valeur à la création : {{ server.name }}</td> 
                    <td>Valeur à la création : {{server.type_server}}</td>
                    <td>Valeur à la création : {{server.ram}}</td>
                    <td>Valeur à la création : {{server.rom}}</td>
                    <td>Valeur à la création : {{server.nb_processor}}</td>
                    <td>Valeur à la création : {{server.v_processor}}</td>
                 
                    <td>Valeur à la création : {{server.rack}}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> 

      

    </div>
  </div>
  {% endblock %}