{% extends 'systeme/index.html' %}
{% load static %}
    <!-- partial:partials/_navbar.html -->

    {%block form-search%}
    <li class="nav-item">
      <form method="GET" class="search-form" action="{% url 'base:systeme_stockage-list' %}">
        <i class="icon-search"></i>
        <input type="search" name ="q" class="form-control" placeholder="Search Here" title="Search here">
      </form>
    </li>
    {%endblock%}
    {%block content%}

    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-11 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Liste de tous les systemes de stockages</h4>
                <p class="card-description">
                    Voir la liste de tous nos systemes de stockages 
                </p>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nom</th>
                        <th>Memoire Ram (gb)</th>
                        <th>Memoire Rom (tera)</th>
                        <th>modifié le</th>
                        <th>créer le</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                        {% for systeme_stockage in systeme_stockages %}
                      <tr>
                        <td style="text-align:center"><a href="{% url 'base:detail-systeme_stockage' systeme_stockage.pk %}" >{{ systeme_stockage.name }} </a></td> 
                        <td style="text-align:center">{{systeme_stockage.ram}}</td>
                        <td style="text-align:center">{{systeme_stockage.rom}}</td>
                        <td style="text-align:center">{{systeme_stockage.updated|date:"DATETIME_FORMAT"}}</td>
                        <td style="text-align:center">{{systeme_stockage.created|date:"DATETIME_FORMAT"}}</td>
                        
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
  
  
      </div>
    </div>
    {% endblock %}

  <!-- plugins:js -->

  